.no-collections {
    margin-top: 10px;
    width: 50%;
    min-width: 500px;
    border: 2px dashed darkorange;
    border-radius: 10px;
    text-align: center;
    margin-left: 25%;
    padding: 15px;
}
