.reflected {
    display: inline-block;
    width: max-content;
    margin-top: -10px;
}

.reflected>* {
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;
}

.reflected> :last-child {
    transform:
        rotateX(180deg) translateY(43px);
    mask-image: linear-gradient(transparent 50%, white 90%);
    -webkit-mask-image: linear-gradient(transparent 50%, white 90%);
    opacity: 0.72;
}

.img-logo {
    margin-top: 130px;
}

.img-container-bg {
    background-position: center;
}